/* Estilos gerais */
body {
    background-color: #d0c9c9;
    margin: 0; /* Remova margens padrão do corpo */
    padding: 0; /* Remova preenchimento padrão do corpo */
}
.conteudo {
    margin-top: 100px; /* Ajuste o valor conforme necessário para o espaçamento desejado */
}

header {
    position: fixed; /* Torna o cabeçalho fixo na parte superior da janela */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(98, 98, 98);
    color: #fff;
   padding: 10px 0px;
    z-index:999; /* Garante que o cabeçalho esteja acima de outros elementos */
}

#titulo {
    font-size: 24px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    color: #a7a7a7; /* Cor do texto (pode ser personalizada) */
    margin-top: 10px; /* Espaço superior */
    text-align: center; /* Alinhamento de texto ao centro */
}

.search-bar {
    display: flex;
    align-items: center;
}

input[type="text"] {
    width: 300px;
    padding: 5px;
    margin-right: 10px;
}

#create-post, .solid {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
   
}

/* Estilos para o formulário */
form {
    width: 70%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px; /* Espaço superior entre o cabeçalho e o formulário */
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="file"],
input[type="time"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    margin-top: 20px;
}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    input[type="text"] {
        width: 100%;
    }
}
.image {
    width: 50px; /* Defina a largura desejada */
    height: 50px; /* Defina a altura desejada */

  }
  .tittle {
    color: white;
    font-family: bold;
    font-size: 30px; 
    text-align: center;
}