header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(98, 98, 98);
    color: #fff;
    padding: 10px 20px;
}

.search-bar {
    display: flex;
    align-items: center;
}

input[type="text"] {
    width: 300px;
    padding: 5px;
    margin-right: 10px;
}

#create-post {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* Fundo cinza claro */
body {
    background-color: #d0c9c9;
}

/* Estilos para o formulário */
form {
    width: 70%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="file"],
input[type="time"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .search-bar {
        margin-bottom: 10px;
    }

    input[type="text"] {
        width: 100%;
    }
}