/* Estilo do cabeçalho */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(98, 98, 98);
  z-index: 999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(98, 98, 98);
  color: #fff;
  padding: 10px 20px;
}

#create-post {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px; /* Adicione margem à esquerda para separar os botões */
}

.user-info button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px; /* Adicione margem à esquerda para separar os botões */
}
.conteudo {
  margin-top: 100px; /* Ajuste o valor conforme necessário para o espaçamento desejado */
}
.image {
  width: 50px; /* Defina a largura desejada */
  height: 50px; /* Defina a altura desejada */

}